<!doctype html>
<html lang="en-US">
    <head>
        <title>Sample Tracking</title>
        <meta id="token" data-token="44a7c3d5d9697529a42c81a067e98952ca9360f52ea2c93811bac3029294e84f"/>
    </head>
    <body>
        <h1>Testing Server</h1>
    </body>
    <script>
        function add_tracking(){
            var domain = (document.location.href.indexOf("localhost") > -1) ? "http://localhost:5000" : "https://lnc-analytics.herokuapp.com";
            var token = document.getElementById("token").dataset.token;
            var iframe = document.createElement('iframe');
            iframe.style.display = "none";
            iframe.id = 'lnc-analytics';
            iframe.onload = function(){
                var arr = {
                    "type": "init",
                    "data": {
                        "referrer": document.referrer,
                        "host": window.location.origin,
                        "path": window.location.pathname,
                        "title": document.title,
                        "width": window.innerWidth,
                        "height": window.innerHeight
                    }
                };
                this.contentWindow.postMessage(arr, domain);
            };
            iframe.src = domain + '/api/session/' + token;
            document.body.appendChild(iframe);
        }
        add_tracking();
    </script>
</html>